<html>
  <head><title>Home</title></head>
  <link rel="stylesheet" href="/style.css" />
  <body>
    <h1>Productos</h1>
    <ul id="productList">
      {{#each products}}
        <li>{{this.title}} — ${{this.price}}</li>
      {{/each}}
    </ul>
  </body>
</html>